<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>BeCAPTCHA</title>
    <!-- * Load JS scripts. -->
    <script type="text/javascript" src="static/js/configure.js" async></script>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}

    <!-- TODO: Write a decent introduction. -->
    <p>Select which modalities to use.</p>

    <!-- Checkboxes. -->
    <label for="sight" class="container">
        Sight
        <input type="checkbox" id="sight" name="mode" value="yes" checked="checked">
        <span class="checkmark"></span>
    </label>

    <label for="speech" class="container">
        Speech
        <input type="checkbox" id="speech" name="mode" value="yes" checked="checked">
        <span class="checkmark"></span>
    </label>

    <label for="gesture" class="container">
        Gesture
        <input type="checkbox" id="gesture" name="mode" value="yes" checked="checked">
        <span class="checkmark"></span>
    </label>


    <!-- Submit checkboxes. -->
    <button id="submit">Submit</button>

    {% endblock %}

</body>

</html>