<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Video Streaming</title>
    <!-- * Load JS script. -->
    <script type="text/javascript" src="static/js/finger_count.js" async></script>
</head>

<body>

    {% extends "template.html" %}
    {% block content %}


    <h2 id="target"></h2>
    <p id="timer"></p>
    <img id="bg" src="{{ url_for('video') }}">
    <!-- TODO: Make it less more maybe -->
    <p>Small introduction that says what to do.</p>

    <script>
        setInterval(countdown, 1000);
        show_target();
    </script>

    {% endblock %}

</body>

</html>