<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Video Streaming</title>
    <!-- * Load JS script. -->
    <script lanuage="Javascript" type="text/javascript" src="static/js/finger_count.js" async></script>
</head>

<body>

    {% extends "template.html" %}
    {% block content %}

    <article id="content">
        <p>
            Below we have displayed a number, a timer and you. Show the target number with you fingers placing your hand
            inside the blue square.
            Do it before the timer stops.
        </p>
    </article>

    <p id="target"></p>
    <p id="timer"></p>
    <img id="img" src="{{ url_for('video') }}">


    <script>
        show_target();
        setInterval(countdown, 1000);
        setInterval(check_test, 1000);
    </script>

    {% endblock %}

</body>

</html>