<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>BeCAPTCHA</title>
    <!-- * Load JS script. -->
    <script type="text/javascript" src="static/js/index.js" async></script>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}

    <!-- Go to configuration. -->
    <button id="start">Start</button>

    <article id="content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Nec ultrices dui sapien eget mi proin sed libero. Egestas tellus rutrum tellus pellentesque eu
            tincidunt tortor. Ac tortor dignissim convallis aenean et tortor. Nec sagittis aliquam malesuada bibendum.
            Cursus sit amet dictum sit amet justo donec enim. Auctor elit sed vulputate mi sit amet mauris. Faucibus
            scelerisque eleifend donec pretium vulputate sapien. Tristique sollicitudin nibh sit amet commodo nulla
            facilisi
            nullam vehicula. Pulvinar mattis nunc sed blandit libero. Dui accumsan sit amet nulla facilisi morbi tempus.
            Fermentum iaculis eu non diam phasellus vestibulum lorem sed.
        </p>

        <p>
            In nisl nisi scelerisque eu ultrices. Risus ultricies tristique nulla aliquet enim. Turpis massa tincidunt
            dui
            ut ornare lectus sit. Pulvinar proin gravida hendrerit lectus. Odio euismod lacinia at quis risus. Amet
            justo
            donec enim diam vulputate ut. Nunc eget lorem dolor sed viverra ipsum. In tellus integer feugiat scelerisque
            varius morbi enim nunc. Blandit turpis cursus in hac habitasse platea dictumst quisque. Justo nec ultrices
            dui
            sapien eget. Faucibus interdum posuere lorem ipsum dolor sit amet. Amet consectetur adipiscing elit
            pellentesque
            habitant morbi tristique senectus et. Ac tortor vitae purus faucibus ornare suspendisse. Netus et malesuada
            fames ac turpis. Consectetur adipiscing elit duis tristique. A arcu cursus vitae congue mauris rhoncus
            aenean
            vel. Vitae sapien pellentesque habitant morbi.
        </p>

        <p>Dolor purus non enim praesent elementum facilisis leo. Lacinia at quis risus sed vulputate. Turpis nunc
            eget
            lorem dolor. Amet dictum sit amet justo donec. Ut tortor pretium viverra suspendisse potenti. Scelerisque
            viverra mauris in aliquam sem fringilla ut. Viverra ipsum nunc aliquet bibendum. Dictum fusce ut placerat
            orci
            nulla pellentesque dignissim enim. Ut venenatis tellus in metus vulputate eu scelerisque felis. Venenatis
            urna
            cursus eget nunc. Vulputate dignissim suspendisse in est ante in nibh mauris. Id interdum velit laoreet id
            donec
            ultrices tincidunt arcu non.
        </p>

        <p>
            Ullamcorper a lacus vestibulum sed. Faucibus nisl tincidunt eget nullam non nisi. Ut tortor pretium viverra
            suspendisse potenti nullam ac tortor vitae. Faucibus purus in massa tempor nec feugiat nisl pretium fusce.
            Duis
            ut diam quam nulla porttitor massa id neque. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula
            ullamcorper. Consequat nisl vel pretium lectus quam id. Gravida in fermentum et sollicitudin ac orci
            phasellus
            egestas. Gravida in fermentum et sollicitudin. Tristique senectus et netus et malesuada fames ac turpis
            egestas.
            Donec adipiscing tristique risus nec feugiat. Quis blandit turpis cursus in hac habitasse platea dictumst
            quisque. Nisl purus in mollis nunc sed id. Euismod nisi porta lorem mollis aliquam ut porttitor leo.
        </p>

        <p>
            Tortor at risus viverra adipiscing. Pretium lectus quam id leo in vitae turpis massa. Eget mauris pharetra
            et
            ultrices neque ornare aenean. Sit amet aliquam id diam maecenas. At erat pellentesque adipiscing commodo
            elit at
            imperdiet dui. Sollicitudin nibh sit amet commodo nulla. Diam volutpat commodo sed egestas egestas fringilla
            phasellus faucibus. Lectus arcu bibendum at varius vel pharetra vel turpis nunc. Dolor sit amet consectetur
            adipiscing elit pellentesque habitant. Natoque penatibus et magnis dis parturient. Iaculis nunc sed augue
            lacus
            viverra vitae congue. Viverra nibh cras pulvinar mattis nunc.
        </p>

        <p>
            Facilisi nullam vehicula ipsum a arcu cursus. A scelerisque purus semper eget duis at tellus at urna. Et
            egestas
            quis ipsum suspendisse ultrices gravida. Elit ut aliquam purus sit amet. Placerat duis ultricies lacus sed
            turpis tincidunt id. Laoreet suspendisse interdum consectetur libero. Varius quam quisque id diam vel quam
            elementum pulvinar. Massa massa ultricies mi quis hendrerit dolor magna eget. Morbi tincidunt ornare massa
            eget
            egestas purus viverra accumsan in. Auctor neque vitae tempus quam pellentesque nec. In ornare quam viverra
            orci
            sagittis eu volutpat. Nibh ipsum consequat nisl vel pretium lectus quam id. Donec ultrices tincidunt arcu
            non
            sodales neque sodales ut. Et leo duis ut diam quam nulla porttitor massa id.
        </p>
    </article>

    <!-- ? Summary -->
    <button id="read-more">Show more</button>

    {% endblock %}
</body>

</html>