<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>BeCAPTCHA</title>
    <!-- * Load JS script. -->
    <script type="text/javascript" src="static/js/index.js" async></script>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}

    <!-- Go to configuration. -->
    <button id="start">Start</button>

    <article id="content">
        <p>
            BeCAPTCHA is a Behavioural CAPTCHA system designed specifically to be accessible to as many people as
            possible, the final goal is to have a universal verification system, this is extremely hard and there is for
            sure much work to do.
            Press the start button and select which of the available settings you are comfortable with using and the
            system will have you undergo to a randomly selected CAPTCHA, such that it is accessible to your needs.
        </p>

    </article>

    {% endblock %}
</body>

</html>