<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Word Reading</title>
    <!-- * Load JS script. -->
    <script lanuage="Javascript" type="text/javascript" src="static/js/word_reading.js" async></script>
    <script lanuage="Javascript" type="text/javascript" src="static/js/word_record.js" async></script>
</head>

<body>

    {% extends "template.html" %}
    {% block content %}

    <p>Press record and read the words below out loud.</p>
    <!-- Print sampled words. -->
    <p id="words"></p>

    <script>
        get_words();
        check_test();
    </script>

    {% endblock %}

</body>

</html>